.idea
.DS_Store
/.ipynb_checkpoints/
data.zip
/data/
.ipynb_checkpoints
/human detection.pdf
__pycache__
test.py
/chromedriver
/Illustration-of-the-15-postures-in-writing-posture-dataset-The-corresponding-skeleton-is.jpeg
